<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600;800&family=Reem+Kufi:wght@400;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/index/layout.css">
		<link rel="stylesheet" href="/css/index/index.css">
	</head>
	<body>
		<main>
			<section class="bestItem-section">
				<article class="bestItem-section-1 view-size flex">
					<div class="inherit">
						<div class="category center-3">
							<p class="category-1">BEST ITEM</p>
							<p class="category-2">Weekly Sales</p>
						</div>
						<div class="best-choice-list flex">
							<ul class="best-choice-ul flex space-between">
								<li class="best-choice-li">
									<div class="best-choice-wrap">
										<canvas id="best-choice-img-1" class="best-choice-img"></canvas>
										<div class="best-choice-info-1 flex">
											<div class="best-choice-info-name">
												<p>비스킷</p>
												<p>훈련용 비스킷 딸기맛</p>
											</div>
											<div class="best-choice-info-content">
												<p>이 비스킷과 함께라면 불가능한 훈련은 없다.</p>
												<p>순식간에 없어질 수 있으니 주의</p>
											</div>
										</div>
										<div class="best-choice-info-2">
										</div>
										<div class="best-choice-info-btn flex center-1 space-evenly">
											<a href="#">
												<button class="index-products-btn more-btn"></button>
											</a>
											<button class="index-products-btn shopping-cart-btn" onclick="modal()"></button>
											<button class="index-products-btn favorite-btn favorite-btn-1"></button>
										</div>
									</div>
								</li>
								<li class="best-choice-li">
									<div class="best-choice-wrap">
										<canvas id="best-choice-img-2" class="best-choice-img"></canvas>
										<div class="best-choice-info-1 flex">
											<div class="best-choice-info-name">
												<p>건식 사료</p>
												<p>Special S</p>
											</div>
											<div class="best-choice-info-content">
												<p>모든 강아지가 사랑하는 사료</p>
												<p>편식 시 전액 환불</p>
											</div>
										</div>
										<div class="best-choice-info-2">
											
										</div>
										<div class="best-choice-info-btn flex center-1 space-evenly">
											<a href="#">
												<button class="index-products-btn more-btn"></button>
											</a>
											<button class="index-products-btn shopping-cart-btn" onclick="modal()"></button>
											<button class="index-products-btn favorite-btn favorite-btn-1"></button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</article>
				<article class="bestItem-section-2 view-size flex">
					<div class="inherit">
						<div class="item-list-wrap flex">
							<ul id="best-item-ul" class="item-ul flex flex-wrap">
								<li th:each="findProducts, pageSet : ${productList}" th:if="${pageSet.index < 16}" class="item-li">
									<div class="best-item-wrap">
										<div class="item-img-wrap relative flex">
											<img th:src="@{${findProducts.mainImgUrl}}" class="best-item-img" alt="상품 이미지"></img>
											<div class="item-btn flex space-evenly">
												<a href="#">
													<button class="index-products-btn more-btn"></button>
												</a>
												<button class="index-products-btn shopping-cart-btn" onclick="modal()"></button>
												<button class="index-products-btn favorite-btn favorite-btn-1"></button>
											</div>
										</div>
										<div class="item-info-wrap">
											<div class="item-info-1">
												<a th:text="${findProducts.productName}" href="#">상품 이름</a>
											</div>
											<div class="item-info-2 flex center-1 start">
												<span th:text="${findProducts.saleDiscount} + '%'" class="sale">할인율</span>
												<span th:text="${findProducts.price} + '원'" class="price">정가</span>
												<span th:text="${findProducts.price - (findProducts.price * findProducts.saleDiscount / 100)} + '원'" class="sale-price">판매가</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</article>
			</section>
		</main>
	</body>
</html>