<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600;800&family=Reem+Kufi:wght@400;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/index/layout.css">
		<link rel="stylesheet" href="/css/index/index.css">
	</head>
	<body>
		<main>
			<section class="products-section">
				<article class="products-section-1 view-size flex">
				</article>
				<article class="products-section-2 view-size flex">
					<div class="inherit">
						<div class="product-list-wrap flex">
							<ul class="product-ul flex flex-wrap">
								<li th:each="findProducts, pageSet : ${productsByCategory}" th:if="${pageSet.index < 16}" class="product-li">
									<div class="product-wrap">
										<div class="product-img-wrap relative flex">
											<img th:src="@{${findProducts.mainImgUrl}}" class="product-img" alt="상품 이미지"></img>
											<div class="product-btn flex space-evenly">
													<a th:href="@{|/categories/${findProducts.productCategory}/products/${findProducts.productNo}|}">
														<button class="index-product-btn more-btn"></button>
													</a>
												<form action="/basket" method="post">
													<button class="index-product-btn shopping-cart-btn"></button>
													<input type="hidden" name="productNo" th:value="${findProducts.productNo}">
												</form>
												<button class="index-product-btn favorite-btn favorite-btn-1"></button>
											</div>
										</div>
										<div class="product-info-wrap">
											<div class="product-info-1">
												<a th:text="${findProducts.productName}" href="#">상품 이름</a>
											</div>
											<div class="product-info-2 flex center-1 start">
												<span th:text="${findProducts.saleDiscount} + '%'" class="sale">할인율</span>
												<span th:text="${findProducts.price} + '원'" class="price">정가</span>
												<span th:text="${findProducts.price - (findProducts.price * findProducts.saleDiscount / 100)} + '원'" class="sale-price">판매가</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</article>
			</section>
		</main>
	</body>
</html>