<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="/css/common/common.css" rel="stylesheet"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
	<script>
		$(function() {
			
			//로그아웃
			$('#logoutLink').click( function(event){
				event.preventDefault();
				
			    // 동적으로 form 생성
			    var form = document.createElement('form');
			    form.action = '/logout';
			    form.method = 'post';
			    form.style.display = 'none'; // 화면에 표시되지 않도록 설정
			    
			    // 폼을 body에 추가
			    document.body.appendChild(form);
			
			    // 폼을 제출
			    form.submit();
			})
			
			//헤드배너이미지 불러오기
			$.ajax({
				url: '/admin/header-banne/find',
				method: 'GET',
				dataType: 'JSON',
				success: function(data) {
					var imageContainer = $('#eventBox');

	          		$.each(data, function(index, imageUrl) {
		                var imgElement = $('<div class="eventBoxImg"></div>').css('background-image','url('+imageUrl+')');
		                imageContainer.append(imgElement);
            		});
				}
			});
			
			var myTimeout;
			//함수의 정의(:생성)
			function move(){
				//document.getElementById("imgs").style.marginLeft="-1920px";
				//JSON {k:v}
				//$(selector).animate({styles},speed,easing,callback);
				$("#eventBox").animate({marginLeft:'-100%'},function (){
					//callback함수영역
					//1.li태그를 마지막으로 이동
					var first=$(".eventBoxImg").first();
					var last=$(".eventBoxImg").last();
					//
					last.after(first);
					//document.getElementsByClassName("vimg")
					//위치 재조정 0
					$(this).css("margin-left",0);
					//this 실행하고있는 자신
					myTimeout = setTimeout(move,3000);
				});
				//$("#imgs").css("margin-left","");
			}
			myTimeout = setTimeout(move, 3000);//3초후에 실행하는 타이머
			
			function timmerStop(){
				clearTimeout(myTimeout);
			}
			$("#eventBox").hover(function(){
				timmerStop()
			},function(){
				myTimeout = setTimeout(move, 3000);
			})
		});
	</script>
</head>
<body>
	<header>
		<div id="header">
			<nav class="navi01">
				<div>
					<img width="25px" class="social-icon" src="/img/common/instagram.png">
					<img width="25px" class="social-icon" src="/img/common/youtube.png">
					<img width="25px" class="social-icon" src="/img/common/twitter.png">
				</div>
				<ul>
					<th:block sec:authorize="isAuthenticated()">
						<span th:text="${#authentication.principal.username}"></span>
						<li><a href="/members">마이샵</a></li>
						<li>
							<a href="#" id="logoutLink">로그아웃</a>
							<!--/*<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>*/-->
						</li>
					</th:block>
					<th:block sec:authorize="isAnonymous()">
						<li><a href="/signin">로그인</a></li>
						<li><a href="/signup">회원가입</a></li>
					</th:block>
					<li><a href="/admin/index">관리자페이지이동</a></li>
					<li><a href="/basket">장바구니</a></li>
					<li><a href="#">배송조회</a></li>
					<li><a href="/faq/faq_info">고객센터</a></li>
				</ul>
			</nav>
			<div class="navi02">
				<a href="/">
					<img width="100px" src="/img/common/favicon.png">
				</a>
				<div class="header-input">
					<form action="" method="post">
						<input type="search" placeholder="검색어를 입력하세요" />
						<button type="submit">
							<img src="/img/common/search_FILL0.svg"/>
						</button>
					</form>
				</div>
				<div id="eventSB">
					<div id="eventBox"></div>
				</div>
			</div>
			<nav class="navi03">
				<ul>
					<li><a href="/categories/사료">사료</a></li>
					<li><a href="/categories/간식">간식</a></li>
					<li><a href="/categories/미용">미용용품</a></li>
					<li><a href="/categories/외출">외출용품</a></li>
					<li><a href="/categories/장난감">장난감</a></li>
				</ul>
				<div class="dropBox">
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	
	<footer>
		<div class="footer01">
			<ul>
				<li><a href="#">회사소개</a></li>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">고객센터</a></li>
			</ul>
		</div>
		<div class="footer">
			<div class="footer02">
				<div id="footer02-1"><img src="/img/common/logo.png"></div>
				<div id="footer02-2">
					<div class="footer-phone">010-8888-8888</div>
					<div class="footer02-content">
						<p>평일 오전 09:20 ~ 오후 5:50</p>
						<p>점심시간 오후 13:10 ~ 오후 14:00</p>
						<p>토 / 일 / 공휴일 휴무</p>
					</div>
				</div>
				<div class="footer02-content">
					<p>대표 조영훈</p>
					<p>부대표 최현종</p>
					<p>TimeKeeper 한재훈</p>
					<p>서기 김병욱</p>
				</div>
				<div class="footer02-content">
					<p>[방문상담·구매·A/S] 주소 : 서울특별시 노원구 상계로3길 21 화일빌딩 3층 6층 </p>
					<p>[택배A/S접수] 서울특별시 노원구 상계로3길 21 화일빌딩 3층 6층</p>
					<p> [고객센터] 1588-8377 (팩스번호 02-718-8276)</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>