<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/common/common.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div id="header">
			<nav class="navi01">
				<div>
					<img width="25px" class="social-icon" src="/img/common/instagram.png">
					<img width="25px" class="social-icon" src="/img/common/youtube.png">
					<img width="25px" class="social-icon" src="/img/common/twitter.png">
				</div>
				<ul>
					<li><a href="/admin/index">관리자페이지이동</a></li>
					<li><a href="#">로그인</a></li>
					<li><a href="#">회원가입</a></li>
					<li><a href="#">배송조회</a></li>
					<li><a href="#">마이샵</a></li>
					<li><a href="#">공지/게시판</a></li>
				</ul>
			</nav>
			<div class="navi02">
				<a href="/">
					<img width="100px" src="/img/common/favicon.png">
				</a>
				<div class="header-input">
					<form action="" method="post">
						<input type="search" placeholder="검색어를 입력하세요" />
						<button type="submit">
							<img src="/img/common/search_FILL0.svg"/>
						</button>
					</form>
				</div>
				<div id="eventBox"></div>
			</div>
			<nav class="navi03">
				<ul>
					<li><a href="#">간식</a></li>
					<li><a href="#">사료</a></li>
					<li><a href="#">미용용품</a></li>
					<li><a href="#">외출용품</a></li>
					<li><a href="#">장난감</a></li>
				</ul>
				<div class="dropBox">
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
					<ul>
						<li><a href="#">건식사료</a></li>
						<li><a href="#">습식사료</a></li>
						<li><a href="#">고양이사료</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	
	<footer>
		<div class="footer">
			<div class="footer01">
				<ul>
					<li><a href="#">회사소개</a></li>
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보처리방침</a></li>
					<li><a href="#">고객센터</a></li>
				</ul>
			</div>
			<div class="footer02">
				<div id="footer02-1"><img src="/img/common/logo.png"></div>
				<div id="footer02-2">
					<div>010-8888-8888</div>
					<div>
						<p>평일 오전 09:20 ~ 오후 5:50</p>
						<p>점심시간 오후 13:10 ~ 오후 14:00</p>
						<p>토 / 일 / 공휴일 휴무</p>
					</div>
				</div>
				<div id="footer02-3">
					<p>조영훈</p>
					<p>최현종</p>
					<p>한재훈</p>
					<p>김병욱</p>
				</div>
				<div id="footer02-4">aaa</div>
			</div>
		</div>
	</footer>
</body>
</html>