@charset "UTF-8";


main {
	display: flex;
	justify-content: center;
	
	margin-top: 80px;
}
.main {
	min-height:1000px;
	width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	border-top: 2px solid #4a4a4a;
	border-bottom: 2px solid #4a4a4a;
	width: 1280px;
}
thead {
	border-bottom: 1px solid #4a4a4a;
	height: 50px;
}
thead > tr > th {
    vertical-align: middle;
}
tbody > tr {
	height: 120px;
}
tbody > tr:not(:last-child) {
	border-bottom: 1px solid #a9a9a9;
}
tbody > tr > td {
    vertical-align: middle;
}
tbody > tr > td:not(:nth-child(3)) {
	text-align: center;
}
.product_volume {
	width: 35px;
}
.listOrderButton {
	display: flex;
	height: 120px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.listOrderButton > * {
	width: 80px;
	height: 25px;
	font-size: 14px;
	background-color: burlywood;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.listOrderButton > *:hover {
	font-weight: 700;
} 
.listOrderButton>*:last-child {
	margin-top: 5px;
}

#settlement {
	display: flex;
	justify-content: space-around;
	width: 1240px;
	margin-top: 50px;
	border: 5px solid burlywood;
	border-radius: 20px;
}
#settlement > ul {
	width: 500px;
	margin: 20px 0;
}
#settlement > ul > li {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	font-size: 20px;
}
#settlement > ul > li:not(:last-of-type) {
	border-bottom: 1px solid #a9a9a9;
}
#settlement>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: 24px;
	height: 100%;
}
#settlement>div>span:last-child {
	color: deeppink;
}
.totalOrderButton {
	width: 1280px;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.totalOrderButton > * {
	width: 200px;
	height: 40px;
	background-color: #dddddd;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}
