@charset "UTF-8";

*{


   font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
	margin:0;
	padding:0;
	box-sizing: border-box;
	color: #1A1A1A;

}


body{
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
   
	
}

.cscenter_top.height214{
	height: 214px;
}
	
	
div{
	display: block;
}

.cscenter_top.container{
	height: 100%;
	width:100%;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
	background-color: white;
	position: relative;
	z-index: 1;
	
}

.container{
	min-width: 1300px;
	width: 100%;
	margin: 0 auto;
	
}

.cscenter_top .title{
	font-size: 28px;
	font-weight: bold;
	line-height: 1em;
	padding-top: 38px;
	text-align: center;
}

.cscenter_top .cs_search_box{
	width: 600px;
	height: 44px;
	margin: 20px auto 0;
	padding: 11px 25px 12px;
	border-radius: 100px;
	background-color: #deb88721;
	position: relative;
}

.cs_search_box .search_input{
	
	width: 500px;
	border: 0px;
	background: transparent;
	line-height: 21px;
	color:brown;
	letter-spacing: -0.5px;
	font-size: 14px;
	outline: transparent;
}

.cs_search_box  >::placeholder{
	
	color:brown ;
}



.cs_search_box .search_icoBtn{
	
	position: absolute;
	top:2px;
	right:17px;
	width: 40px;
	height: 40px;
	display: inline-block;
	font-size: 0;
	text-indent: -10000px;
	background-image: url('/img/faq/search_FILL0_wght400_GRAD0_opsz24.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center, center;
}

.cscenter_top .keyword{
	text-align: center;
	margin-top: 10px;
	font-size: 0;

}

.cscenter_top .keyword span{
	margin-right: 20px;
	color: rgb(210, 160, 94);
	font-size: 16px;
	cursor: pointer;
}


.cscenter_wrap .container{
	background: #deb88721;
	padding: 41px 0 80px;
}

.main_link_box{
	width: 1000px;
	height: 170px;
	margin: 0 auto;
}

.main_link_box > div:first-child{
	margin-left: 0;
}

.main_link_box > div{
	width: 170px;
	height: 170px;
	display: inline-block;
	border-radius: 170px;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
	background-color: rgb(255, 255, 255);
	float: left;
	position: relative;
}

.main_link_box a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 27px;
    text-align: center;
}


a:visited {
    text-decoration: none;
    color: #6c6c6c;
}

.main_link_box a .link_title {
    display: block;
    font-size: 18px;
    font-family: '맑은고딕', 'malgun gothic';
    color: #6C6C6C;
    letter-spacing: -0.025em;
    line-height: 22px;
    margin-top: 12px;
}

.main_link_box a .link_title i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #6C6C6C;
    border-right: 2px solid #6C6C6C;
    transform: rotate(45deg);
    vertical-align: 2px;
    margin-left: 1px;
}

.main_link_box > div {
    margin-left: 105px;
}

.contents_title {
    font-family: 'Noto-M';
    font-size: 20px;
    letter-spacing: -0.025em;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 22px;
    line-height: 29px;
    margin-top: 44px;
   	
}

.contents_title .viewAll_btn {
    float: right;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: rgb(255, 128, 0);
    font-family: 'Noto-R';
    letter-spacing: -0.025em;
}

.viewAll_btn {
    display: block;
    margin-top: 2px;
    color: rgb(255, 128, 0);
    font-size: 16px;
    cursor: pointer;
}

.contents_title .viewAll_btn > i {
    display: inline-block;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(255, 128, 0);
    border-right: 2px solid rgb(255, 128, 0);
    transform: rotate(45deg);
    vertical-align: 1px;
}

.viewAll_btn > i {
    display: inline-block;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(255, 128, 0);
    border-right: 2px solid rgb(255, 128, 0);
    transform: rotate(45deg);
    vertical-align: 1px;
}

i {
    font-style: italic;
}

.contents_box {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

div.contents_title > strong {
	color: rgb(255, 128, 0);
}

.qna_list .question {
    font-size: 16px;
    line-height: 65px;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
}

.qna_tit, .question, .wrong_tit {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    font-size: 0;
}

.line {
    background: #3A3A3A;
    height: 2px;
}

.qna_list .question .q_tit {
    float: left;
    width: 50px;
    height: 65px;
    color: rgb(255, 128, 128);
    font-size: 24px;
    font-family: 'spoqa B';
    text-align: center;
     align-items: center;
}


.question{
	width: 100%;
	align-items: center;
	cursor: pointer;
	padding-left: 20px;
}

.question_drop{
	display: none;
	background-color:#deb88721;
	line-height: 30px;
}
.question_drop > * {
	height: 200px;
	align-items: center;
	padding-left: 40px;
	
}
.question_drop > b{
	
	padding-left: 0px;
	font-weight: 800;
}

.notice_list .notice a {
    display: block;
    font-size: 16px;
    line-height: 65px;
    border-bottom: 1px solid #E8E8E8;
    color: #1a1a1a;
    font-family: 'Noto-R';
    letter-spacing: -0.025em;
    padding: 0 20px;
}

.notice_list .notice a .fl_right {
    float: right;
}

em, address {
    font-style: normal;
}

.two_box {
    width: 1000px;
    margin: 50px auto 0;
     text-align:center;
     display: flex;
 	
}





.two_box .box.left {
    margin-right: 20px;

   
}

.two_box .box {
    border-radius: 10px 0 10px 0;
}

.two_box .box {
    width: 490px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    padding: 30px 40px;
    align-items: flex-start;
    
    justify-content: space-around;
}

.two_box .box .icon {
    width: 90px;
    height: 90px;
    background-color: #f9f9f9;
    border-radius: 50%;
 	 display: flex;
    padding-top: 20px;
    justify-content: center;
  
}

.two_box .box .text_box {
    display: inline-block;
    margin-left: 30px;
    padding-top: 5px;
    
}

.two_box .box .text_box h3 {
    font-size: 18px;
    letter-spacing: -0.025em;
    line-height: 1em;
    margin-bottom: 20px;
}

.two_box .box .text_box p {
    margin-top: 12px;
}

.two_box .box.consulting .text_box p span.strong {
    width: 84px;
}

.two_box .box .text_box p span.strong {
    font-size: 14px;
    color: #1A1A1A;
    letter-spacing: -0.025em;
    width: 120px;
    font-family: 'Noto-M';
    display: inline-block;
    line-height: 1em;
}

.two_box .box .text_box p span {
    font-size: 11px;
    color: #949494;
    letter-spacing: -0.025em;
    line-height: 1em;
   
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}