@charset "UTF-8";

.myP_right {
  	display:inline-block;
    margin: 40px 0 0 80px;
    width: 1000px;
}

.question_tab_list li a .icon_wrap {
    margin: 15px auto 0;
    display: inline-block;
}

.myP_right * {
    letter-spacing: -0.5px;
}

em, address {
    font-style: normal;
}

.question_tab_list li a {
    display: inline-block;
    width: 102px;
    height: 115px;
    background: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    text-align: center;
}

.question_tab_list li {
    float: left;
    margin-right: 10px;
    font-size: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cscenter_question .question_tab_list {
    margin-bottom: 20px;
}

body, input, textarea, select, button, table {
    font-family: '맑은고딕',malgun gothic,'돋움',Dotum,AppleGothic,sans- serif;
    font-size: 12px;
}

.question_tab_list li {
    float: left;
    margin-right: 10px;
    font-size: 0;
}

.question_tab_list li a:hover, .question_tab_list li a:focus, .question_tab_list li.on a {
    border: 1px solid rgb(214, 168, 105);
       color: rgb(214, 168, 105);
       
       
}

.question_tab_list li a .icon_wrap {
    margin: 15px auto 0;
    display: inline-block;
}

.question_tab_list li a:hover .icon_wrap .icon, .question_tab_list li a:focus .icon_wrap .icon, .question_tab_list li.on a .icon_wrap .icon {
    background-position: 0 0;
     filter: brightness(0) saturate(100%) invert(80%) sepia(5%) saturate(4045%) hue-rotate(347deg) brightness(89%) contrast(87%);
   
}

.question_tab_list li a .icon_wrap.all .icon {
   background: url(//image5.compuzone.co.kr/img/images/mypage21/icon_all_48x48.png)no-repeat;
    background-position: 100% 0;
    filter: brightness(0) saturate(100%) invert(80%) sepia(5%) saturate(4045%) hue-rotate(347deg) brightness(89%) contrast(87%);
   
}


.question_tab_list li a .icon_wrap .icon {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    background-position: 100% 0;
    
}

.question_tab_list li a:hover .link_title, .question_tab_list li a:focus .link_title, .question_tab_list li.on a .link_title {
    color: rgb(214, 168, 105);
    
    
}

.question_tab_list li a .link_title {
    display: block;
    font-size: 14px;
    font-family: 'Noto-M';
    color: #3A3A3A;
    letter-spacing: -0.025em;
    line-height: 16px;
    margin-top: 7px;
}

#CategoryNo_21 > a:hover > em > span.icon{
	
	filter: invert(100%) sepia(26%) saturate(563%) hue-rotate(213deg) brightness(118%) contrast(82%);
}


.question_tab_list li:last-child {
    margin-right: 0;
}

.contents_box {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.line {
    background: #3A3A3A;
    height: 2px;
}

.qna_list .question {
    font-size: 16px;
    line-height: 65px;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
}

.cscenter_question .qna_list .answer {
    font-size: 14px;
    height: auto;
    transition: auto;
   
}

.qna_list .answer {
    background-color: #f9f9f9;
    height: 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #6c6c6c;
    overflow-y: auto;
    transition: 0.2s;
    overflow: hidden;
}

.qna_tit, .question, .wrong_tit {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    font-size: 0;
}

.qna_list .question .q_tit {
    float: left;
    width: 50px;
    height: 65px;
    line-height: 62px;
    color: #1C8FED;
    font-size: 24px;
    font-family: 'spoqa B';
    text-align: center;
}

.cscenter_question .qna_list .answer {
    font-size: 14px;
    height: auto;
    transition: auto;

}
.qna_list .answer {
    background-color: #f9f9f9;
   
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #6c6c6c;
    overflow-y: auto;
    transition: 0.2s;
    overflow: hidden;
}

.qna_list .answer .answer_wrap {
    padding: 25px 50px;
}

.qna_list .answer .answer_wrap p, .qna_list .answer .answer_wrap span {
    font-family: 'Noto-R' !important;
    font-size: 16px !important;
}

.qna_list .answer .answer_wrap p, .qna_list .answer .answer_wrap span {
    font-family: 'Noto-R' !important;
    font-size: 16px !important;
}

.cscenter_question .bottom_area {
    margin-top: 50px;
}

.bottom_area .page_area {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

.bottom_area .page_area > a.active, .bottom_area .page_area > a:hover {
    background-color: #333;
    border-color: #333;
    color: #fff;
    font-weight: bold;
}

.bottom_area .page_area > a {
    font-family: '맑은고딕', 'malgun gothic';
    letter-spacing: -1px;
}

.bottom_area .page_area > a {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    line-height: 28px;
    text-align: center;
    color: #444;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
    float: left;
    font-family: "spoqa R";
    text-decoration: none;
}


.cscenter_question .question_tab_list {
    margin-bottom: 20px;
    height: 115px;
   
}

.myP_right > div.question_tab_list > ul{
	margin-bottom: 20px;
	height: 115px;
	 display: flex;
	 justify-content: center;
}



