<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/basket/basket.css">
	<script src="/js/views/basket.js" defer></script>
</head>
<body>
<main>
		<div class="main">
			<form id="cartForm">
			<table>
				<thead>
					<tr>
						<th>선택</th>
						<th>이미지</th>
						<th>상품정보</th>
						<th>가격</th>
						<th>수량</th>
						<th>할인금액</th>
						<th>적립금</th>
						<th>물건 금액</th>
						<th>배송비</th>
						<th>주문</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="basket : ${basketList}">
						<td><input type="checkbox" class="selectOrder" name="selectOrder" th:attr="data-productId=${basket.productNo}, data-price=${basket.price}, data-discount=${basket.saleDiscount}" /></td>
						<td><img width="100px" th:src="@{${basket.mainImgUrl}}" /></td>
						<td th:text="${basket.productName}">상품이름</td>
						<td th:text="${basket.price}">가격</td>
						<td><input type="number" value="1" min="1" class="product_volume" name="product_volume"/></td>
						<td>
							<p>
								<span>-</span>
								<span class="discount">0</span>
								<span>원</span>
							</p>
							<span class="discountPer">0%</span>
						</td>
						<td>0포인트</td>
						<td class="productPerTotal">0원</td>
						<td>0원</td>
						<td class="listOrderButton">
							<button class="directOrder" type="button">바로주문</button>
							<button class="delBasket" type="button">삭제</button>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="selectOrder" name="selectOrder" data-price="49200" data-discount="10" id=""/></td>
						<td><img width="100px" src="/img/index/new_arrival/img-new-arrival-0.jpg"/></td>
						<td>고양이 곰돌이 마약 방석 M 1P 강아지 쿠션 하우스</td>
						<td>49,200원</td>
						<td><input type="number" value="1" min="1" class="product_volume" name="product_volume"/></td>
						<td>
							<p>
								<span>-</span>
								<span class="discount">0</span>
								<span>원</span>
							</p>
							<span class="discountPer">0%</span>
						</td>
						<td>0포인트</td>
						<td class="productPerTotal">0원</td>
						<td>0원</td>
						<td class="listOrderButton">
							<a href="#">바로주문</a>
							<a href="#">삭제</a>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="selectOrder" name="selectOrder" data-price="231000" data-discount="10" id=""/></td>
						<td><img width="100px" src="/img/index/best_item/img-best-item-0.jpg"/></td>
						<td>고양이 캣휠 XL DIY 사이즈 E 네츄럴</td>
						<td>231,000원</td>
						<td><input type="number" value="1" min="1" class="product_volume" name="product_volume"/></td>
						<td>
							<p>
								<span>-</span>
								<span class="discount">0</span>
								<span>원</span>
							</p>
							<span class="discountPer">0%</span>
						</td>
						<td>0포인트</td>
						<td class="productPerTotal">0원</td>
						<td>0원</td>
						<td class="listOrderButton">
							<a href="#">바로주문</a>
							<a href="#">삭제</a>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
			
			<div id="settlement">
				<ul>
					<li>
						<span>선택한 상품 수</span>
						<span id="selectedItemCount">0</span>
					</li>
					<li>
						<span>상품가격</span>
						<span id="totalPrice">0원</span>
					</li>
					<li>
						<span>할인금액</span>
						<span id="totalDiscount">0원</span>
					</li>
					<li>
						<span>배송비</span>
						<span>0원</span>
					</li>
				</ul>
				<div>
					<span>총 주문 가격</span>
					<span id="totalOrderPrice">0원</span>
				</div>
			</div>
			<div class="totalOrderButton">
				<a href="#"><div>선택주문하기</div></a>
				<a href="#"><div>전체주문하기</div></a>
			</div>
		</div>
	</main>
</body>
</html>