@charset "UTF-8";

form > p > input[type=text] {
	margin-left: 100px;
}
input[type=file]{
	display: none;
}
form > p {
	position: relative;
	height: 30px;
}
form > p > span{
	position: absolute;
}

#imageInputsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.input-img {
	display:inline-flex;
		
	border: 2px dashed burlywood;
	width: 400px;
	height: 60px;
	
	justify-content: center;
	align-items: center;
	font-size: 32px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.HBsaveForm > p > button {
	width: 200px;
	height: 40px;
	cursor: pointer;
	background-color: burlywood;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	border: none;
}
.HBsaveForm > p > button:hover {
	color: ghostwhite;
	border: 1px solid #333;
}