@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EDEDED;
}

input {
	outline: none;
}

.flex {
	display: flex;
}

.admin-products-wrap {
	width: 1280px;
	flex-direction: column;
}

.admin-products-head {
	padding-bottom: 35px;
	font-size: 32px;
	font-weight: 600;
}

.admin-products-body {
	height: 795px;
	border: 1px solid #6B7282;
	background-color: #FFF;
}

.admin-products-body-head {
	height: 45px;
	align-items: center;
	background-color: #6B7282;
}

.admin-products-body-head > span {
	padding-left: 15px;
	color: #FFF;
}

.admin-products-body-main-wrap {
	height: 675px;
	justify-content: center;
	align-items: center;
}

.admin-products-body-main {
	width: 1230px;
	height: 625px;
	position: relative;
	border: 1px solid#A9A9A9;
}

.admin-products-body-list-1 {
	height: 50px;
	border-bottom: 1px solid #A9A9A9;
}

.admin-products-body-list-2 {
	height: 170px;
	border-bottom: 1px solid #A9A9A9;
}

.admin-products-body-list-3 {
	height: 250px;
	border-bottom: 1px solid #A9A9A9;
}

.admin-product-name {
	width: 175px;
	align-items: center;
	background-color: #EEEEEE;
	border-right: 1px solid #A9A9A9;
}

.admin-product-name > span {
	padding-left: 15px;
	font-weight: 600;
}

.admin-product-input {
	width: 1045px;
	padding-left: 10px;
	align-items: center;
	background-color: #FFF;
}

.admin-product-input > textarea {
	width: 500px;
	height: 230px;
	border: 1px solid #D8D9DA;
	outline: none;
}

.product-input-name {
	width: 500px;
	height: 30px;
	border: 1px solid #D8D9DA;
}

.product-input-num {
	width: 150px;
	height: 30px;
	border: 1px solid #D8D9DA;
}

.admin-product-submit {
	width: 1230px;
	padding-top: 25px;
	justify-content: center;
}

.admin-product-submit > button {
	width: 100px;
	height: 50px;
	border: none;
	border-radius: 3px;
	background-color: #6B7282;
	font-size: 16px;
	color: #FFF;
	cursor: pointer;
}

.admin-product-img {
	width: 150px;
	height: 150px;
	padding-right: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed #D8D9DA;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 32px;
}

.admin-product-img > input[type="file"] {
	display: none;
}