@charset "UTF-8";


input[type=file]{
	display: none;
}
form > p {
	position: relative;
	height: 30px;
}
form > p > span{
	position: absolute;
}
form > p > input[type=text] {
	margin-left: 100px;
}
.input-img {
	display:inline-flex;
		
	border: 1px dashed lightskyblue;
	width: 200px;
	height: 200px;
	
	justify-content: center;
	align-items: center;
	font-size: 32px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
