<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
<title>내가 한 질문 | 퍼티</title>

<link rel="stylesheet" href="/css/faq/faq_left.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">


</head>
<body>
	
<main>
	 <div class="myPage21">
            <div class="myP_inner clearfix">
                <div class="myP_left">
                    <ul class="my_gnb">
                        <!-- class = on 붙이면 활성화 -->
                        <li class="depth1">
                            <a href="/faq/faq_info" class="depth1_b_m">고객센터</a>
                        </li>
                        <li class="depth1 ">
                            <a href="/member/faq_board" class="depth1_b_m">문의 게시판</a>
                        </li>
                        <li class="depth1 ">
                            <a href="/faq/frequently_asked" class="depth1_b_m">자주 묻는 질문</a>
                        </li>
                        <li class="depth1 ">
                            <a href="/faq/faq_notice" class="depth1_b_m">공지사항</a>
                        </li>
                        <li class="depth1">
                            <a href="/member/faq_list" class="depth1_b_m">내가 한 질문</a>
                        </li>
                       
                    </ul>
                    <div class="cs_box">
                        <h2>퍼티 상담센터</h2>
                        <h3 class="SpqBlue">1588-8377</h3>
                        <p>월~금 09:00~18:00</p>
                        <p>주말, 공휴일 휴무</p>
                        <a class="myP_SWbtn" href="/faq/faq_board" target="_blank" style="margin-top:15px;">고객의소리</a>
                    </div>
                </div>
              
              
              
              
              
													
				</div><!-- myP_inner -->
			</div><!-- myPage21 -->
	
	
	
	
</main>


</body>
</html>