@charset "UTF-8";

.error-message {
    color: red; /* 빨간색 */
}

.success-message {
    color: blue; /* 파란색 */
}

.warning-message {
    color: orange; /* 주황색 */
}

.container_signup{
	margin:0px auto 0; height: 1157px; width: 1440px;
	box-sizing: border-box;
}

.content_lg{
	display: flex;
	justify-content: center;
	width: 1280px; height: 1157px;
	padding-left: 40px; padding-right: 40px;
	margin-left: 80px; margin-right: 80px;
}

.signup_area{
	width: 400px; height: 1157px;
	padding-top: 60px; padding-bottom: 160px;
	margin-left: 400px; margin-right: 400px;
}

.signup_main{
	width: 400px; height: 470px;
}

.signup_main_title{
	display: flex; justify-content: center;
	padding-bottom: 41px; height: 81px;
	font-size: 32px; font-weight: 600;
	border-bottom: 2px solid #BF9270;
}

/*///////////////////////////////////////////////*/

.signup_title{
	width: 400px; height: 130px;
	padding-bottom: 50px;
	display: flex; justify-content: center;
}

.signup_title_img{
	width: 150px; height: 80px;
}

.signup_title_img:hover{
	filter: invert(15%);
}

/*///////////////////////////////////////////////*/

.user_data{
	width: 400px; height: 386px;
}

.user_input{
	width: 400px; height: 80px;
	padding: 10px 0 14px;
    position: relative;
}

.input_title{
	width: 400px; height: 18px;
	font-size: 13px; font-weight: 1000;
}

.input_item{
	width: 400px; height: 38px;
	position: relative;
}

.input_txt{
	width: 400px; height: 38px;
	padding: 8px 30px 8px 0;
	font-size: 13px; 
	border-bottom: 1px solid #ebebeb;
	outline: 0;
}

/*///////////////////////////////////////////////*/

.access_terms{
	width: 400px; height: auto;
}

.terms_title{
	width: 400px; height: 90px;
	display: flex; justify-content: center;
	padding-top: 25px;padding-bottom: 25px;
	font-size: 32px; font-weight: 600;
}

.agree_all{
	width: 400px; height: 50px;
	margin-bottom: 20px;
	background-color: white;
	border: #BF9270 solid 2px;
	border-radius: 10px; 
	
}

.agree_all_check{
	display: flex;
	font-size: 12px;
	padding: 16px 4px 16px 4px;
	cursor: pointer; user-select: none !important;
}

.agree_check{
	position: relative;
	border-top: 1px solid #ebebeb;
	width: 400px; height: auto;
	padding: 0px 4px 8px 4px;
	margin-bottom: 10px;
	
	background-color: white;
	border: #BF9270 solid 2px;
	border-radius: 10px;
	user-select: none !important;
}

.terms_agree{
	padding-top: 10px;
	font-size: 12px;
	
	height: 30px;
	display: flex;
	justify-content: space-between;
	
}

.userdata_agree{
	display: flex;
	font-size: 12px;
	padding: 16px 4px 16px 4px; margin-top: 10px;
	
	background-color: white;
	border: #BF9270 solid 2px;
	border-radius: 10px;
	user-select: none !important;
}

.check_box{
	display: flex; cursor: pointer;
	width: 380px;
}

.drop_area{
	cursor: pointer;
	display: flex;
	width: 388px;
}

.drop_button{
	width: 30px; height: 15px;
	position: absolute;
    top: 12px;
    right: 10px;
}

.drop_button::after{
	transform: scaleY(-1);
}

.agree_txt{
	padding-left: 8px;
	font-weight: 700;
}

.terms_txt{
	display: none;
	justify-content: center;
	width: 388px;
	height: 70px;
	border: 1px solid black;
	overflow-y: scroll;
	background-color: white;
	font-size: 11px;
	color: #828282;
}

.signup_btn_box{
	width: 400px; height: 72px;
	padding-top: 20px;
}

.signup_box{
	width: 400px; height: 52px;
	background-color: #BF9270;
	font-size: 16px; font-weight: 700; color: white;
	border-radius: 10px; cursor: pointer;
}

.signup_box:hover{
	background-color: white;
	font-size: 16px; font-weight: 800; color: #BF9270;
	border: #BF9270 solid 2px;
	border-radius: 10px; cursor: pointer;
}

/*///////////////////////////////////////////////*/
