<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/sign/sign.css">
	<link rel="stylesheet" href="/css/sign/signup.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<main>
	<h1>회원가입</h1>
	<div class="container_signup">
		<div class="content_lg">
			<div class="signup_area">
				<div class="signup_title">
					<div class="signup_title_img"><a href="/"><img src="/img/sign/favicon.png"></a></div>
				</div>
				<div class="signup_main">
					<div class="signup_main_title">
						회원가입
					</div>
				<form action="/signup" method="post">
					<div class="user_data">
						<div class="user_input">
							<div class="input_title">이메일 주소</div>
							<div class="input_item">
								<input type="email" placeholder="ex)putty@cute.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ex)putty@cute.com'" autocomplete="off" class="input_txt" name="email">
							</div>
						</div>
						<div class="user_input">
						<div class="input_title">비밀번호</div>
						<div class="input_item">
							<input type="password"  maxlength='16' placeholder="영문, 숫자, 특수문자를 조합해서 입력해주세요.(8~16자)" onfocus="this.placeholder = ''" onblur="this.placeholder = '영문, 숫자, 특수문자를 조합해서 입력해주세요.(8~16자)'" autocomplete="off" class="input_txt" name="password">
						</div>
						</div>
						<div class="user_input">
							<div class="input_title">비밀번호</div>
							<div class="input_item">
								<input type="password"  maxlength='16' placeholder="비밀번호를 재입력 해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호를 재입력 해주세요.'" autocomplete="off" class="input_txt" name="password">
							</div>
						</div>
						<div class="user_input">
							<div class="input_title">이름</div>
							<div class="input_item">
								<input type="text" placeholder="이름을 입력해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '이름을 입력해주세요.'" autocomplete="off" class="input_txt" name="name">
							</div>
						</div>
						<div class="user_input">
							<div class="input_title">휴대폰 번호</div>
							<div class="input_item">
								<input type="tel" placeholder="휴대폰 번호를 입력해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '휴대폰 번호를 입력해주세요.'" autocomplete="off" class="input_txt" name="tel_num">
							</div>
						</div>
					</div>
					<div class="access_terms">
						<div class="terms_title">약관</div>
						<div class="agree_all">
							<label for="all_switch">
								<div class="agree_all_check">
									<input type="checkbox" name="all_check_box" id="all_switch" class="all">
									<div class="agree_txt">이용약관 및 개인정보수집 이용, 쇼핑정보 수신에 모두 동의합니다.</div>
								</div>
							</label>
						</div>
						
						
						<div class="agree_check">
							<div class="terms_agree">
								<label for="terms_switch">
									<div class="check_box">
										<input type="checkbox" name="terms_check_box" id="terms_switch" class="normal">
										<div class="agree_txt">동의함  /  [필수] 이용약관 동의</div>
									</div>
								</label>
							</div>
							<div class="drop_area">
								<img src="/img/sign/expand_more.png" class="drop_button">
								<div class="terms_txt">
											약관1
								</div>
							</div>
						</div>
						
						
						<div class="agree_check">
							<div class="terms_agree">
								<label for="terms_switch_bottom">
									<div class="check_box">
										<input type="checkbox" name="terms_check_box" id="terms_switch_bottom" class="normal">
										<div class="agree_txt">동의함  /  [필수] 이용약관 동의</div>
									</div>
								</label>
							</div>
								<div class="drop_area">
									<img src="/img/sign/expand_more.png" class="drop_button">
									<div class="terms_txt">
												약관2
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="signup_btn_box">
							<input type="submit" value="회원가입 하기" class="signup_box"></input>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script> //약관 아코디언
		$(function () {
				$('.drop_area').click(clickedBtnMenu);
			});

			function clickedBtnMenu() {
				$(this).find('.terms_txt').slideToggle(112);
			}
	</script>
	
	<script> //약관 모두 동의
			const checkAll = document.querySelector('.agree_all .all');
			const checkBoxesNormal = document.querySelectorAll('.terms_agree .normal');
			const checkBoxChecked = Array.from(checkBoxesNormal, (checkbox) => checkbox);
			function paintCheckAll(y) {
				checkBoxChecked.map((e) => (e.checked = y));
			}
			function onCheckAllClick() {
				checkAll.checked ? paintCheckAll(true) : paintCheckAll(false);
			}
			function onBoxClick() {
				let is_checked = true;
				checkBoxChecked.forEach((box) => {
					is_checked = box.checked && is_checked;
				});
				checkAll.checked = is_checked;
			}
			checkAll.addEventListener('click', onCheckAllClick);
			checkBoxesNormal.forEach((checkbox) => checkbox.addEventListener('click', onBoxClick));
	</script>
	
	<script> //약관 모두 동의
		$('.checkbox_all .all').click(function () {
				if ($(this).prop('checked')) {
					$('.checkbox .normal').prop('checked', true);
				} else {
					$('.checkbox .normal').prop('checked', false);
				}
			});
			$('.checkbox').on('click', '.normal', function () {
				var is_checked = true;
				$('.checkbox .normal').each(function () {
					is_checked = is_checked && $(this).is(':checked');
				});
				$('.checkbox_all .all').prop('checked', is_checked);
			});
	</script>
	
	
</main>
</body>
</html>