<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/member/member.css">
	<link rel="stylesheet" href="/css/member/mypage.css">
</head>
<body>
<main>
	<h1>회원가입</h1>
	<div class="container_mypage">
		<div class="content_lg">
			<div class="mypage_area">
				<div class="mypage_title">
					<div class="signin_title_img"><a href="/"><img src="/img/sign/favicon.png"></a></div>
				</div>
				<div class="mypage_main">
					<div class="mypage_main_title">
						회원 정보 수정
					</div>
				<form action="/updateUserData" method="post">
					<div class="user_data">
						<div class="user_input">
							<div class="input_title">휴대폰 번호<span id="telNumError"></div>
							<div class="input_item">
								<input type="tel" placeholder="변경할 휴대폰 번호를 입력해주세요. (-없이)" onfocus="this.placeholder = ''" onblur="this.placeholder = '변경할 휴대폰 번호를 입력해주세요. (-없이)'" autocomplete="off" class="input_txt" name="telNum">
							</div>
						</div>
						<div class="user_input_address">
						<div class="input_title">대표 배송지 등록</div>
						<div class="input_item_address">
							<div class="post_code_box">
								<input type="text" id="postcode" placeholder="우편번호" onfocus="this.placeholder = ''" onblur="this.placeholder = ''" class="input_txt_post_code" name="postCode">
								<input type="button" class="btn_post_code" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
							</div>
							<input type="text" id="roadAddress" placeholder="도로명주소" onfocus="this.placeholder = ''" onblur="this.placeholder = '도로명주소'" class="input_txt" name="address">
							<input type="text" id="jibunAddress" placeholder="지번주소" onfocus="this.placeholder = ''" onblur="this.placeholder = '지번주소'" class="input_txt" name="address">
							<span id="guide" style="color:#999;display:none" class="input_txt"></span>
							<input type="text" id="detailAddress" placeholder="상세주소" onfocus="this.placeholder = ''" onblur="this.placeholder = '상세주소'" class="input_txt" name="addressDetail">
							<input type="text" id="extraAddress" placeholder="참고항목" onfocus="this.placeholder = ''" onblur="this.placeholder = '참고항목'" class="input_txt">
						</div>
						</div>
						<div class="user_input">
						<div class="input_title">기존 비밀번호</div>
						<div class="input_item">
							<input type="password"  maxlength='16' placeholder="기존의 비밀번호를 입력해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '기존의 비밀번호를 입력해주세요.'" autocomplete="off" class="input_txt" name="password">
						</div>
						</div>
						<div class="user_input">
						<div class="input_title">변경할 비밀번호</div>
						<div class="input_item">
							<input type="password"  maxlength='16' placeholder="비밀번호를 영문, 숫자, 특수문자를 조합해서 입력해주세요.(8~16자)" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호를 영문, 숫자, 특수문자를 조합해서 입력해주세요.(8~16자)'" autocomplete="off" class="input_txt" name="change_password">
						</div>
						</div>
						<div class="user_input">
							<div class="input_title">변경할 비밀번호 확인</div>
							<div class="input_item">
								<input type="password"  maxlength='16' placeholder="변경할 비밀번호를 재입력 해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '변경할 비밀번호를 재입력 해주세요.'" autocomplete="off" class="input_txt" name="check_change_password">
							</div>
							<div class="save_btn_box">
								<input type="submit" value="저장하기" class="save_box"></input>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
	function execDaumPostcode() {
		new daum.Postcode({
			oncomplete: function (data) {
				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

				// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var roadAddr = data.roadAddress; // 도로명 주소 변수
				var extraRoadAddr = ''; // 참고 항목 변수

				// 법정동명이 있을 경우 추가한다. (법정리는 제외)
				// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
				if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
					extraRoadAddr += data.bname;
				}
				// 건물명이 있고, 공동주택일 경우 추가한다.
				if (data.buildingName !== '' && data.apartment === 'Y') {
					extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				}
				// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				if (extraRoadAddr !== '') {
					extraRoadAddr = ' (' + extraRoadAddr + ')';
				}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById('postcode').value = data.zonecode;
				document.getElementById("roadAddress").value = roadAddr;
				document.getElementById("jibunAddress").value = data.jibunAddress;

				// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
				if (roadAddr !== '') {
					document.getElementById("extraAddress").value = extraRoadAddr;
				} else {
					document.getElementById("extraAddress").value = '';
				}

				var guideTextBox = document.getElementById("guide");
				// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
				if (data.autoRoadAddress) {
					var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
					guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
					guideTextBox.style.display = 'block';

				} else if (data.autoJibunAddress) {
					var expJibunAddr = data.autoJibunAddress;
					guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
					guideTextBox.style.display = 'block';
				} else {
					guideTextBox.innerHTML = '';
					guideTextBox.style.display = 'none';
				}
			}
		}).open();
	}
</script>
</body>
</html>